*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  max-width: 600px;
}


.drum-pad.active .front {
  transform: translateY(1px);
  transition: transform 34ms;
}

.drum-pad.active .shadow {
  transform: translateY(2px);
  transition: transform 34ms;
}